
/* Shortlist Circle & Float Controls */

#shortEntryMenuWrap {
    width: 0;
    height: 0;
}

#shortlist .entryMenuTrigger {
    font-size: 1.2em;
    position: absolute;
    top: 1.3em;
    left: 0.3em;
    padding: 0;
    z-index: 1;
    border: none;
    background: transparent;
}

#shortlist .entryMenu {
    left: auto !important;
    right: 300px !important;
    min-width: 13em;
}

#shortlist .circle,
#shortlist .remove  {
    height: 1.25em;
    width: 1.25em;
    z-index: 200;
}

#shortlist .circle:not(.float)  {
    z-index: 1;
}

#shortlist .remove,
#shortlist .circle:not(.save_filter) {
    position: absolute;
}

#shortlist .remove  {
    right: 1em;
    font-size: 0.7em;
}

#shortlist .circle  {
    left: 0.3em;
}

#shortlist .circle.east  {
    left: 2em;
    box-shadow: 0em 0em 0.1em 0.3em #eeeeee;
    border-radius: 1em;
}

#shortlist .circle.filter  {
    bottom: 0.3em;
}

#shortlist .circle:not(.filter)  {
    top: 0.3em;
}

/* Shortlist Entry */

.shortlist_entry {
    display: inline-block;
    position: relative;
    width: 18.35em;
    border-radius: 5px;
    padding: 0.3em;
    margin: 0.5em;
    margin-bottom: 0;
    word-wrap: break-word;
}

.shortlist_entry .controls {
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.shortlist_entry .controls:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.shortlist_entry .move {
    height: 1.3em;
    width: 1.3em;
    padding-top: 3.2em;
    margin-left: -0.05em;
    position: relative;
}

.shortlist_entry .controls,
.shortlist_entry .contents {
    display: inline-block;
    vertical-align: top;
}

.shortlist_entry .filter_contents {
    display: block;
}

.shortlist_entry .contents {
    text-align: left;
    width: 16em;
    position: relative;
}

.shortlist_entry .chart_holder {
    padding-left: 0.4em;
}

.shortlist_entry .chart {
    height: 2em;
    margin-top: 0.2em;
}

.shortlist_entry .range_values {
    position: relative;
}

.shortlist_entry .zero_tick {
    position: absolute;
    display: hidden;
    height: 0.6em;
    width: 1px;
    left: 1em;
    top: -0.27em;
    background-color: #555555;
}

.shortlist_entry .zero {
    position: absolute;
    display: hidden;
    font-size: 0.6em;
    left: 1em;
    top: -0.55em;
    color: #555555;
}

.shortlist_entry .range_slider {
    /* font-size should be the same as the chart */
    font-size: 1em;
    height: 0.2em;
    top: -0.4em;
    margin-right: 0.7em;
}

.shortlist_entry .chart,
.shortlist_entry .range_slider {
    width: 12.7em;
}

.shortlist_entry .range_low,
.shortlist_entry .range_high {
    font-size: 0.8em;
    margin-top: -0.1em;
}

.shortlist_entry .range_low {
    float: left;
}

.shortlist_entry .range_high {
    float: right;
    margin-right: 3.5em;
}

.shortlist_entry .mask {
    position: absolute;
    height: 1.85em;
    width: 0;
    left: 0em;
    bottom: 1.65em;
    background-color: #888;
    opacity: 0.5;
}

.shortlist_entry .high_mask {
    left: auto;
    right: 0em;
}

/* The below could apply to any future slider on the UI

/* The entire sider bar */
.ui-slider.ui-widget-content {
    border: none;
    background: none;
    background-color: #ccc;
}
/* The active part of the slider bar */
.ui-slider-range.ui-widget-header.ui-corner-all {
    border: none;
    background: none;
    background-color: white;
}

.ui-slider .ui-slider-handle.ui-state-default.ui-corner-all {
    width: 0.8em;
    height: 0.8em;
    border-color: #aaa;
    margin-left: -0.4em;
    border-radius: 0.5em;
}
