
.notify-list {
    font-size: 0.8em;
    position: absolute;
    top: 9em;
    left: .0.5em;
    z-index: 2004;
}

.notify-message {
    width: 20em;
    margin: 0.7em 0.7em;
    padding: 0.4em 0.5em;
    opacity: 0.9;
    border-radius: 5px;
}

.notify-message > p {
    padding: 0.2em 0;
    margin: 0;
}

.notify-title {
    font-weight: 700;
}

.notify-link {
    word-wrap: break-word;
    overflow-wrap : break-word;
}

button {
    padding: 1em 2em;
}
