.DS_Store
tests/pyUnittest/out/*
.python/statsLayer.py
analyze
.idea*
*.save
*.pyc
*.tar
*.tgz
_build
settings.json
db
log/*
!log/README.txt
node_modules/*
!node_modules/README.txt
deploy
packages/*
!packages/README.txt
pid/*
!pid/README.txt

