
#navBar {
    width: 100%;
    display: inline-block;
}

#navBar * {
    z-index: 2000;
}

#navBar a {
    text-decoration: none;
    color: black;
    display: block;
    width: 100%;
}

#navBar > ul {
    width: 100%;
    color: white;
}

#navBar > ul li {
    z-index: 200;
}

#navBar ul {
    margin: 0;
    padding: 0;
    box-shadow: 4px 4px 4px #aaaaaa;
}

#navBar li {
    float: left;
    position: relative;
    list-style: none;
    padding: 0.4em 0.5em;
}

#navBar li.disabled {
    color: grey;
}

#navBar > ul > li {
    width: 4em;
}

#navBar .devMessage {
    display: none;
}

#navBar .devMessage.dev {
    width: 22em;
    display: inline;
    font-size: 0.8em;
    margin: 0.3em
}

#navBar .cyber-slug {
    height: 2.3em;
    padding-left: 0.4em;
    padding-right: 0.3em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    margin-bottom: -1em;
    float: left;
}

#navBar > ul > li.home {
    width: 5em;
    margin-left: 2em;
}

#navBar > ul > li.selectMenu {
    width: 5em;
}

#navBar > ul > li:hover,
#navBar #login-buttons:hover {
    color: black;
}

#navBar ul.file li {
    width: 9em;
}

#navBar ul.download li {
    width: 11em; /* 6.5 */
}

#navBar ul.input_files li {
    width: 11.5em;
}

#navBar ul.edit li {
    width: 10.5em;
}

#navBar ul.select li {
    width: 8em;
}

#navBar ul.view li {
    width: 9em;
}

#navBar ul.data li {
    width: 9em;
}

#navBar ul.help > li {
    width: 7em;
}

#navBar ul.tutorial > li {
    width: 38em;
}

#navBar li.login {
    color: white;
    float: right;
    width: 18em;
    font-size: 1em;
    padding-top: 0.2em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

#navBar li.login,
#navBar li.login a.login-link-text {
    color: white;
}

#navBar li.login:hover,
#navBar li.login:hover a.login-link-text {
    color: black;
    background: white;
}

#navBar * {
    cursor: pointer;
}

#navBar .disabled,
#navBar .version,
#navBar .cyber-slug,
#navBar .login,
#navBar .login * {
    cursor: auto;
}

#navBar #login-buttons,
#navBar .login-form-sign-in,
#navBar .login-link-text {
    cursor: pointer;
}

#navBar ul ul {
    position: absolute;
    left: 0;
    top: 100%;
    visibility: hidden;
    color: black;
}

#navBar ul ul ul {
    left: 100%;
    top: 0;
}

#navBar hr {
    margin: 0;
}

#navBar ul ul,
#navBar li:hover,
#navBar li:hover li {
    background: #ddd;
}

#navBar li:hover > ul {
    visibility: visible;
}

#navBar li li:hover,
#navBar li li:hover li{
    background: #bbb;
}

#navBar li li.disabled:hover,
#navBar li li:hover li.disabled {
    background: #ddd;
}

#navBar li:hover hr,
#navBar li:hover li.version {
    background: #ddd;
}

#navBar li li li:hover:not(.disabled) {
    background: #999;
}

#navBar li.selected {
    font-weight: bold;
}

.gridPage .stacker {
    line-height: 2.1em;
}

#bookmarkDialog {
    display: none;
    padding: 1.5em;
}

#bookmarkDialog .message {
    width: 65em;
    cursor: text;
    border: 0;
}
