
/* FONTS */
body {
    /*font-family: sans-serif */
    font-family: Verdana, Arial, sans-serif;
}

#homePage .mapTitle {
    font-size: 38px;
}

#navBar {
    font-size: 0.9em;
}


/* COLORS */
/*
#f5f4eb, rgb(245, 244, 235)  genomic institute pages tan
#2B5E91  ucsc pages blue background
#E0E0FF  shortlist lavender
#FFE0FF  shortlist pink
*/

body,
#navBar .cyber-slug {
    background-color: #f5f4eb;
}

#navBar {
    background-color: #2B5E91;
}

#menus,
#helpMenu {
    background-color: transparent;
    background-image: none;
}

.select2-container .select2-choice,
.shortlist .panel {
    background: rgba(255,255,255,0.8);
}

.shortlist_entry {
    background: #eeeeee; /* #E0E0FF; */
}

.shortlist_entry.selection,
.shortlist_entry.selection .float_controls {
    background: #fff0ff; /* #FFE0FF; */
}

#homePage .mapTitle,
#homePage h3,
#homePage a {
    color: #2B5E91;
}

#homePage a {
    text-decoration: none;
}

#homePage a:hover {
    text-decoration: underline;
}

/* BANNER BOOTSTRAP COLORS */
#banner.info.row,
#banner.stay.row {
    background: #D8EECE;
    color: #2E662C;
}

#banner.warn.row {
    background: #F9F5D9;
    color: #775B2A;
}

#banner.error.row {
    background: #EDD4D5;
    color: #993031;
}
