
/* FONTS */
body {
    /*font-family: sans-serif */
    font-family: Verdana, Arial, sans-serif;
}

#homePage .mapTitle {
    font-size: 38px;
}

#navBar {
    font-size: 0.9em;
}

.ui-widget textarea.log
{
    font-family: Lucida Console, monospace;
    font-size: 0.8em;
}

/* COLORS */
/*
#2B5E91  ucsc pages blue
#E0E0FF  shortlist lavender
*/

body,
#navBar .cyber-slug {
    background-color: #dddddd;
}

#navBar {
    background-color: #2B5E91;
}

#menus,
#helpMenu {
    background-color: transparent;
    background-image: none;
}

.select2-container .select2-choice,
.shortlist .panel {
    background: rgba(255,255,255,0.8);
}

.shortlist_entry {
    background: #eeeeee;
}

.shortlist_entry.selection,
.shortlist_entry.selection .float_controls {
    background: E0E0FF;
}

#homePage .mapTitle,
#homePage h3,
#homePage a {
    color: #2B5E91;
}

#homePage .allProjects a div,
#homePage .thumbnail,
#homePage .thumbnail_like {
    color: #eeeeee;
}

#homePage a {
    text-decoration: none;
}

#homePage a:hover {
    text-decoration: underline;
}

/* BANNER BOOTSTRAP COLORS */
#banner.info,
#banner.stay,
#jobDialog .status.ui-widget-content.completed {
    background: #D8EECE;
    color: #2E662C;
}

#banner.warn {
    background: #F9F5D9;
    color: #775B2A;
}

#banner.error,
#jobDialog .status.ui-widget-content.failed {
    background: #EDD4D5;
    color: #993031;
}
