/* Browsing stuff */

.header {
    display: inline-block;
    border-bottom: 1px solid black;
    width: 100%;
    position: relative;
}

.header .layer-row {
    position: relative;
}

.stacker {
    line-height: 1.8em;
    vertical-align: middle;
    display: inline-block;
}

#layout-row .stacker {
    padding-top: 0.4em;
}

.layer-row .stacker {
    line-height: 2.7em;
}

/* ***************** select2 widgets of: map, layer, layout **************** */

#s2id_search {
    padding-top: 0.45em;
    margin-right: 0.5em;
    width: 15em;
}
#project,
#layout-search,
#search {
    width: 50em;
}

.header .select2-choice {
    width: 20em;
}

.select2-container {
    width: 20em;
}

#s2id_project .select2-choice span.noProject {
    color: #999;
}

/* ***************** LAYER header row **************** */

#s2id_search.select2-container {
    margin-bottom: 0.6em;
    margin-left: 0.5em;
}

.layer-entry {
    padding-right: 20px;
}

.layer-name {
    /* Force silly underscore names into shape */
    word-wrap: break-word;
}

.headerButton {
    height: 24px;
    width: 24px;
    padding: 3px;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    margin-right: 0.3em;
    border: 1px solid #aaaaaa;
}

#diffAnalysisButton {
    height: 28px;
    width: 28px;
    padding: 1px;
}

.headerButton.filter,
.headerButton.filter-hot {
    margin-left: -13em;
    height: 20px;
    width: 20px;
    padding: 5px;
    display: none;
}
.headerButton.filter.active,
.headerButton.filter-hot.active {
    display: inline;
}

.layer-row .sort_attributes {
    display: inline;
    margin-left: 0.3em;
    margin-right: 0;
}

.layer-row .set {
    display: inline;
    margin-left: 0.5em;
}

.layer-metadata {
    font-size: 0.65em;
}

.passFilters.stacker {
    min-width: 5em;
}

#sortText {
    line-height: 2.6em;
    margin-left: 0;
}

/* ***************** LAYOUT header row **************** */

#layout-row {
    position: relative;
}

#layout-row .map_label  {
    margin-left: 0.5em;
}

#layout-row .help_container {
    margin-left: -14em;
    text-decoration: none;
    display: inline;
}

#layout-row .layout_label {
    margin-left: 0.3em;
}

#layout-row .node_count {
    margin-left: -13.5em;
}

#coords {
    position: fixed;
    left: 550px;
    display: none;
    text-align: left;
    padding-right: 0.3em;
    background: #eee;
    margin-top: 0.1em;
    width: 19em;
    z-index: 1000;
}
#coords td {
    text-align: right;
    padding: 0;
    width: 2.3em;
}
#coords td:first-child {
    padding-right: 0.3em;
    width: 5em;
}
#coords td:nth-child(4) {
    font-size: 0.7em;
    width: 8em;
}
