
#homePage {
    padding: 1.5em 3em;
}

#homePage .mapTitle {
    padding: 0.3em 0.5em;
    vertical-align: top;
    line-height: 1.1em;
    text-decoration: none;
}

#homePage .createMapHome {
    text-align: center;
    font-size: 1em;
    padding: 1em;
}

#homePage .allProjects {
    margin: 0 auto;
    text-align: center;
}

/*
#homePage .projectsCenter {
    display: inline-block;
    text-align: center;
}
*/
#homePage .project {
    display: inline-block;
    margin: 1em;
}

#homePage .thumbnail,
#homePage .thumbnail_like {
    display: inline-block;
    text-align: center;
    color: white;
    background-color: black;
    vertical-align: top;
}

#homePage .thumbnail img,
#homePage .thumbnail_like img {
    height: 300px;
}

#homePage .thumbnail img:hover,
#homePage .thumbnail_like img:hover {
    height: 298px;
    border: blue 1px solid;
}

#homePage .home_section {
    padding: 1em;
}

#homePage h3 {
    font-size: 1.3em;
    margin: 0;
}

#homePage p {
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

