/*
aHexagram.css

This file needs to load first after library css files, meteor loads in 
alphabetical order, hence the file name.
*/
/*
The visualization element needs to take up all available space.
*/
#visualization, #gridMap {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    background-color: rbg(229,227,223);
}

#gridMap .gm-style {
    background-color: #fff;
}

/* 
Row and column layout boilerplate
From http://blog.stevensanderson.com/2011/10/05/full-height-app-layouts-a-css-trick-to-make-it-easier/
*/

body {
    margin: 0;
    background-color: #E7E5D7;
}

#mapPage {
    background-color: white;
}

#homePage h3 {
    font-size: 1.3em;
    margin-top: 0.6em;
    margin-bottom: 0;
}

#homePage p {
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

.dialog {
    font-size: 0.9em;
}


.dialogDiv {
    min-height: 3em;
    padding: 0.5em;
}

.row, .col {
    overflow: hidden;
    position: absolute;
}

.row { 
    left: 0;
    right: 0; 
}

.row-frame {

}

.col { 
    top: 0; 
    bottom: 0;
}

/*
Read as "The content row", distinct from whatever else that element might be.
*/
.content.row {
    top: 6.3em;
    bottom: 0;
    z-index: 1;
}

.error.row{
    height: 2em;
    top: 0;
    border-bottom: 1px solid black;
    background: #F7EFAD;
    z-index: 101;
    display: none;
}
/*
.footer.row {
    height: 50px;
    bottom: 0;
    line-height: 50px;
}
*/
.title {
    font-size: 1.2em;
    font-weight: bold;
    padding-right: 0.5em;
    margin-top: -0.2em;
}

.dialog-label,
.dialog-value {
	text-align: right;
	font-weight: normal;
	vertical-align: middle;
	padding: 0.3em;
	white-space: nowrap;
}

.dialog-value {
	text-align: left;
}

#recalculate-statistics {
    padding: 0.2em;
	margin-left: 10px;
}

#comparison-stats {
    padding: 0.2em;
}

.recalculate-throbber {
    display: none;
}

#recalculate-progress {
    display: none;
    position: relative;
    top: 1em;
	margin-top: -5px;
	height: 10px;
	width: 100px;
}

.recalculate-progress {
    display: none;
}

.recalculate-finished {
    display: none;
}

/* Popups for ordering up stats operations. */
.dropdown {
    display:none;
    width: 25em;
    overflow: visible;
    width:370px;
    height: 160px;
    margin-left: 21em;
    top: 68px;
    position: fixed;
    border-radius: 10px;
    border: 1px solid gray;
    background: white;
    z-index: 100;
}

.dropdown-title {
    text-align: center;
}

.dropdown-body {
    padding: 5px;
    text-align: center;
}

.cancel {
    float: right;
    margin-right: 5px;
}

.helpNav {
    padding-top: 0.25em;
    height: 24px;
}

.help-button {
    float: left;
    margin-left: 1em;
    margin-top: 5px;
    padding: 2px;
    height: 28px;
}

.help-dialog {
    display: none;
}

.help-text {
    width: 30em;
    max-height: 30em;
    overflow: auto;
}

/*Adam Comparision Statistics Menu*/

.comparison-stats-value {
    width: 20em;
	margin-bottom: 10px;
}

#comparison-stats,
#set-operation,
#sort-attributes-button {
    border: 1px solid #aaaaaa;
    margin-top: 5px;
}

/*Sort Attributes Combined Functionality*/
#sort-attributes-button {
    padding: 4px;
    padding-top: 5px;
}
/* used? TODO
#sort-attributes-list {
	width: 250px;
}
*/
/* used? TODO
.all-attributes {
	text-align: center;
	margin-left: 15px;
}
.specific-attributes {
	text-align: center;
	margin-left: 25px;	
}

.all-attributes-label {
	font-size: 0.6em;
}
*/
.checkbox-labels {
	font-size: 0.6em;
}

.radio-label, .radio-clear {
    margin-right: 0.1em;
    margin-left: 0.1em;
}

/* This is the info window/infocard styling */
.infocard {
    word-break: break-all;
   /* font-family: sans-serif; */
}

.info-row {
    margin-bottom: 0.1em;
}

.info-key {
    background: green;
    color: white;
    text-align: center;
    font-weight: bold;
}

.info-value {
    background: #F0F0F0;
}

/* Tool stuff */
textarea {
    width: 100%;
}
textarea.import {
    height: 10em;
    font-size: 10pt;
}

input.import {
    width: 100%;
}

