
/* FONTS */
body {
    /*font-family: sans-serif */
    font-family: Verdana, Arial, sans-serif;
}

#homePage .mapTitle {
    font-size: 38px;
}

#navBar {
    font-size: 0.9em;
}


/* COLORS */
/*
#E7E5D7, rgb(231,229,215)  ucsc pages tan
#05366B  ucsc pages blue font
#2B5E91  ucsc pages blue background
#E0E0FF  shortlist lavender
#FFE0FF  shortlist pink
*/

body,
#navBar .cyber-slug {
    background-color: #E7E5D7;
}

#navBar {
    background-color: #2B5E91;
}

#menus,
#helpMenu {
    background-color: transparent;
    background-image: none;
}

.select2-container .select2-choice,
.shortlist .panel {
    background: rgba(255,255,255,0.8);
}

.shortlist-entry {
    background: #E0E0FF;
}

.shortlist-entry.selection {
    background: #FFE0FF;
}

#homePage .mapTitle {
    color: #2B5E91;
}

/* BANNER BOOTSTRAP COLORS */
#banner.info.row,
#banner.stay.row {
    background: #D8EECE;
    color: #2E662C;
}

#banner.warn.row {
    background: #F9F5D9;
    color: #775B2A;
}

#banner.error.row {
    background: #EDD4D5;
    color: #993031;
}
