
.tools {
    background: #E7E5D7;
}

.cyber-slug {
    height: 30px;
    margin-top: 0.25em;
    margin-right:0.5em;
}

.title {
    font-size: 1.2em;
    font-weight: bold;
    margin-left: 0;
    padding-right: 0.5em;
    padding-top: 0.5em;
    line-height: 1em;
}

#project,
#s2id_project {
    padding-top: 0.3em;
    width: 15em;
}

#project.static {
    font-size: 1.1em;
    margin-top: -0.4em;
    padding-right: 0.5em;
    width: auto;
}

.helpNav {
    margin-top: 0.2em;
    margin-bottom: -0.5em;
    height: 24px;
    line-height: 24px;
}

#error-notification {
    color: red;
    font-weight: bold;
    text-align: center;
    margin-left: 0.5em;
    line-height: 2em;
    height: 2em;
}

