
/* FONTS */
body,
body .ui-widget {
    font-family: Verdana, Arial, sans-serif;
}

#homePage .mapTitle {
    font-size: 38px;
}

#navBar {
    font-size: 0.9em;
}

.ui-widget textarea.log
{
    font-family: Lucida Console, monospace;
    font-size: 0.8em;
}

/* COLORS */
/*
#2B5E91  ucsc pages blue
#E0E0FF  shortlist dynamic entry lavender
*/

body,
#navBar .cyber-slug {
    background-color: #dddddd;
}

#navBar {
    background-color: #2B5E91;
}

#navBar .devMessage {
    background-color: orange;
}

#menus,
#helpMenu {
    background-color: transparent;
    background-image: none;
}

.select2-container .select2-choice,
.shortlist .panel {
    background: rgba(255,255,255,0.8);
}

.shortlist_entry,
#shortlist div.secondary.mask {
    background: #eeeeee;
}

.shortlist_entry.dynamic,
.shortlist_entry.dynamic .float_controls,
#shortlist div.secondary.mask.dynamic {
    background: #E0E0FF;
}

#homePage .mapTitle,
#homePage h3,
#homePage a {
    color: #2B5E91;
}

#homePage .allProjects a div,
#homePage .thumbnail,
#homePage .thumbnail_like {
    color: #eeeeee;
}

#homePage a {
    text-decoration: none;
}

#homePage a:hover {
    text-decoration: underline;
}

/*************** BOOTSTRAP BANNER COLORS **************************************/
/*
#2B5E91  dk green, info  fg
#D8EECE  lt green, info  bg
#775B2A     brown, warn  fg
#F9F5D9    yellow, warn  bg
#993031       red, error fg
#EDD4D5      pink, error bg
*/

button {
    background: #eeeeee;
}

.notify-message.info,
.defaultButton {
    color: #2E662C;
    background: #D8EECE;
}

.notify-message.warn {
    color: #775B2A;
    background: #F9F5D9;
}

.notify-message.error {
    color: #993031;
    background: #EDD4D5;
}

.nodeIdDropdown span.selected {
    color: #2E662C;
}

.nodeIdDropdown .select2-result.select2-highlighted span.selected {
    color: #D8EECE;
}

/*************** BANNER BOOTSTRAP COLORS end **********************************/

.modalHeader button.close {
    background-color: inherit;
}

